body {
   font-family: "Noto Sans", sans-serif;
}

section {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.row {
  margin-left: 0.5rem !important;
  margin-right: 0.75rem !important;
}
.row > * {
  padding-left: 0 !important;
}
.offcanvas.offcanvas-start {
  width: 500px !important;
}
.offcanvas-header-right {
  position: absolute;
  left: 440px;
}
.offcanvas-header-left {
  position: absolute;
  margin-left: 30px;
  left: 0;
}
.offcanvas-body {
  margin-top: 10px;
  padding: 0px 16px 16px 16px !important;
}

.offcanvas-body-inside {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.button-closed {
  color: #244065 !important;
  width: auto;
  height: 35px !important;
}
.form-check-input:checked {
  background-color: #244065 !important;
  border-color: #244065 !important;
}

.checkStore{
  margin-left: 20px;
}
.searchCheck{
  border: 1px solid #244065 !important;
  font-size: 12px !important;

}
.form-check label{
  font-size: 14px;
  margin-left: 10px;
}
.user-text-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-profile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;

}

.img-profile img{
  margin: 0 !important;
}

.area-img-salesman {
  justify-content: center;
  text-align: center !important;
  align-items: center;
}
.img-salesman {
  height: 20px;
  width: auto;
}

h6{
  margin-bottom: 0 !important;
}

.garis-sidebar {
  height: 2px;
}
.salesman-history{
  text-align: center;
}

.salesman-history-txt p{
  margin-bottom: 5px !important;
  font-size: 8px;
}
.header-img-logo {
  height: 50px;
  width: auto;
}

.accordion-body{
  background-color: #f3f3f3;
  font-size: 10px;
}
.button {
  background-color: #244065;
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  padding: 6px, 10px, 6px, 10px;
  border: none;
}

.btn1 {
  margin-right: 20px;
}
.button:hover {
  background-color: white;
  border: 2px solid #244065;
  color: #244065;
  font-weight: bold;
}
.button2 {
  background-color: rgba(233, 0, 25, 1);
  background-image: url("/assets/image/Logout1.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  padding: 6px, 10px, 6px, 10px;
  border: none;
}
.button2:hover {
  background-color: white;
  background-image: url("/assets/image/Logout2.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(233, 0, 25, 1);
  color: rgba(233, 0, 25, 1);
  font-weight: bold;
}

.button3 {
  background-color: #244065 !important;
  color: white !important;
  border-radius: 10px !important;
}

.button3:hover {
  background-color: white !important;
  color: #244065 !important;
  border: 2px solid #244065 !important;
}

.button4 {
  background-color: rgba(233, 0, 25, 1);
  color: white;
  border-radius: 10px;
  width: auto;
  height: 35px;
  padding: 6px, 10px, 6px, 10px;
  border: none;
}
.button4:hover {
  background-color: white;
  border: 2px solid rgba(233, 0, 25, 1);
  color: rgba(233, 0, 25, 1);
  font-weight: bold; 
}

.button5 {
  background-color: #00AA13;
  color: white;
  border-radius: 10px;
  width: auto;
  height: 35px;
  padding: 6px, 10px, 6px, 10px;
  border: none;
}
.button5:hover {
  background-color: white;
  border: 2px solid #00AA13;
  color: #00AA13;
  font-weight: bold; 
}

.rtlink-btn4 {
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.rtlink-btn4:hover{
  padding: 2px 0;
}
.card-salesman {
  padding: 15px 15px 15px 15px !important;
  justify-content: center;
  background-color: rgba(211, 238, 247, 1);
  margin: 0 !important;
  border-radius: 10px;
}

.card-user {
  padding: 15px 15px 15px 15px !important;
  justify-content: center;
  display: flex;
  align-items: center;

  margin: 0 !important;
  border-radius: 5px;
}
.main {
  background-color: white !important;
}
.navbar {
  box-shadow: none !important;
  
}
.navbar1 {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2) !important;
  
}


.period-bar1 {
  color: #244065;
  background-color: rgba(237, 237, 237, 1);
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  position: absolute;
  right: 220px;
  padding: 6px 12px 6px 12px !important;
}
.period-bar2 {
  color: #244065;
  background-color: rgba(237, 237, 237, 1);
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  position: absolute;
  right: 30px;
  padding: 6px 12px 6px 12px !important;
}

.export-date {
  color: #244065 !important;
  background-color: rgba(237, 237, 237, 1) !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 6px 12px 6px 12px !important;
}

.label-date {
  font-size: 12px;
  position: absolute;
  padding: 15px;
  right: 180px;
}

.period-date {
  position: absolute;
  right: 395px;
}
.input-date {
  position: absolute;
  right: 50px;
  color: #244065 !important;
}

.card {
  border: none !important;
  border-radius: 10px !important;
}
.card-1 {
  border-radius: 10px;
  background-color: rgba(253, 231, 220, 0.6);

  height: 120px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-2 {
  border-radius: 10px;
  background-color: rgba(204, 238, 208, 0.6);
  height: 120px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-3 {
  border-radius: 10px;
  background-color: rgba(211, 238, 247, 0.6);
  height: 120px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-4 {
  border-radius: 10px;
  background-color: white;

  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-5 {
  border-radius: 10px;
  background-color: rgba(211, 238, 247, 0.6);

  height: 2000px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-6 {
  border-radius: 10px;
  background-color: rgba(211, 238, 247, 0.6);
  width: 350px;
  height: 140px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-7 {
  border-radius: 10px;
  background-color: rgba(211, 238, 247, 0.6);
  width: 350px;
  height: 140px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-8 {
  border-radius: 10px;
  background-color: rgba(211, 238, 247, 0.6);
  width: 350px;
  height: 140px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.stat {
  background-color: white !important;
  border-radius: 10px !important;
  width: 40px;
  height: 40px;
}

.img-stat {
  height: 30px;
  width: auto;
  position: relative;
  top: 15%;
  left: 9%;
  padding: 1px;
}
.img-stat2 {
  height: 30px;
  width: auto;
  position: relative;
  top: 12%;
  left: 21%;
  padding: 1px;
}
.img-stat3 {
  height: 30px;
  width: auto;
  position: relative;
  top: 13%;
  left: 15%;
  padding: 1px;
}

.card-title {
  color: rgba(64, 64, 64, 1);
  font-size: 12px;
  /* position: absolute; */
  top: 25px;
  left: 80px;
  font-family: "Noto Sans", sans-serif;
}

.card-title2{
  font-size: 10px;
  color: rgba(64, 64, 64, 1);
  font-family: "Noto Sans", sans-serif;
  margin: 0px !important;
}

.card-count {
  font-size: 28px;
  font-weight: 700;
  color: rgba(64, 64, 64, 1);
  position: absolute;
  left: 30px;
  top: 70px;
}

.tombol-eye {
  cursor: pointer;
  color: #244065;
  top: 57%;
  right: 45px;
  position: absolute;
}

.img-card-mt {
  justify-self: center;
  text-align: center;
}
.img-card {
  height: 50px;
  width: auto;
  justify-content: center;
  text-align: center;
}

.child-media {
  padding-left: 100px;
}


.modal-dialog.modal-xl {
  max-width: 100%;
}

.modal-title{
  font-weight: bold;

}

.modal-header{
    align-items: center;
  text-align: center;
  justify-content: center !important;
}
.modal-body {
}

.tanggal-modal {
  margin: 0px !important;
  padding: 15px 0px !important;
}

.input-modal {
  width: 225px;
  padding: 0 !important;
}
.dropdown-modal {
  width: 225px !important;
  padding: 0 !important;

}
.label-modal {
  display: flex;
  text-align: center;
  align-items: center;

  margin: 0px;
}
input[type="date"] {
}

canvas {
  width: 100% !important;
  height: 250px !important;
  text-align: center !important;
  align-items: center !important;
  margin: 0 !important;
  display: block;
}

.canvas1 {
  width: 250px !important;
  position: relative;
  left: 25%;
  right: 25%;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
.canvas2 {
  width: 500px !important;
  position: relative;
  left: 25%;
  right: 25%;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
p {
  font-size: 16px !important;
}

.dropdown-search {
  background-color: white;
}

.dropdown-toggle {
  width: 200px;
  background-color: #244065 !important;
  color: white !important;
  border-radius: 10px;
  border: 1px solid #244065;
  height: 30px;
}
.dropdown-toggle:hover {
  background-color: white !important;
  border: 1px solid #244065 !important;
  color: #244065 !important;
}

.dropdown {
}

.dropdown-menu {
  max-height: 20rem;
  border-radius: 10px !important;
  width: 200px !important;
  color: black;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.modal-content {
  border-radius: 1rem !important;
}

.col-sm-3 {
  padding: 0 !important;
}

.col-sm-9 {
  padding: 0 !important;
}

.top-overview{
  width: 300px;
  background-color: rgba(237, 237, 237, 1);
  height: 35px;
  border: none;
  border-radius: 10px;
  color: #244065;
}

.txt-top-overview p{
  margin-bottom: 0px !important;
  font-size: 12px !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #244065;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.form-select {
  color: #244065 !important;
  background-color: rgba(237, 237, 237, 1) !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 6px 12px 6px 12px !important;
  width: 16vw !important;
}

.spinner-border {
  color: #244065 !important;
}

.spinner-border-login {
  color: #fff!important;
}