@import './base.css';

#app {
  max-width: 1920px;
  margin: 0px;
  padding: 2rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;

}



@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {

    place-items: center;
    align-items: center;
    justify-content: center;
  }

  #app {

    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
